In [2]:
# Import required libraries
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Database connection details from DATABASE_URL
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"

# Create SQLAlchemy engine for pandas integration
engine = create_engine(db_url)

# Test connection using psycopg2
try:
    conn = psycopg2.connect(db_url)
    cursor = conn.cursor()
    cursor.execute("SELECT version();")
    db_version = cursor.fetchone()
    print(f"Connected to: {db_version}")
    cursor.close()
    conn.close()
except Exception as e:
    print(f"Connection error: {e}")

Connected to: ('PostgreSQL 16.8 (Debian 16.8-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [3]:
# SQL script to create tables
create_tables_sql = """
-- Enable UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- Users: Stores group leaders and customers
CREATE TABLE users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    registration_channel VARCHAR NOT NULL,
    channel_value TEXT,
    customer_segment VARCHAR,
    user_status VARCHAR NOT NULL CHECK (user_status IN ('active', 'inactive', 'suspended')),
    last_login TIMESTAMP
);

-- Categories: Product types
CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive')),
    parent_id UUID,
    CONSTRAINT fk_parent_id FOREIGN KEY (parent_id) REFERENCES categories(id)
);

-- Products: Product details
CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name_id UUID,
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'discontinued')),
    unit_price NUMERIC NOT NULL CHECK (unit_price >= 0),
    CONSTRAINT fk_name_id FOREIGN KEY (name_id) REFERENCES categories(id)
);

-- Group Deals: Group buying offers
CREATE TABLE group_deals (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID,
    max_group_member INTEGER NOT NULL CHECK (max_group_member > 0),
    group_price NUMERIC NOT NULL CHECK (group_price >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    effective_from TIMESTAMP NOT NULL,
    effective_to TIMESTAMP,
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

-- Groups: Instances of group deals
CREATE TABLE groups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_deals_id UUID,
    created_by UUID,
    status VARCHAR NOT NULL CHECK (status IN ('open', 'completed', 'cancelled')),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    completed_at TIMESTAMP,
    CONSTRAINT fk_group_deals_id FOREIGN KEY (group_deals_id) REFERENCES group_deals(id),
    CONSTRAINT fk_created_by FOREIGN KEY (created_by) REFERENCES users(id)
);

-- Campaigns: Marketing campaigns
CREATE TABLE campaigns (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    channel VARCHAR NOT NULL,
    start_date TIMESTAMP NOT NULL,
    end_date TIMESTAMP,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'completed'))
);

-- Orders: Sales data
CREATE TABLE orders (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    groups_carts_id UUID,
    user_id UUID,
    status VARCHAR NOT NULL CHECK (status IN ('pending', 'completed', 'cancelled')),
    total_amount NUMERIC NOT NULL CHECK (total_amount >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    campaign_id UUID,
    CONSTRAINT fk_groups_carts_id FOREIGN KEY (groups_carts_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id),
    CONSTRAINT fk_campaign_id FOREIGN KEY (campaign_id) REFERENCES campaigns(id)
);

-- Order Items: Products in orders
CREATE TABLE order_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID,
    product_id UUID,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    price NUMERIC NOT NULL CHECK (price >= 0),
    CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES orders(id),
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

-- Group Members: Users in groups
CREATE TABLE group_members (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_id UUID,
    user_id UUID,
    joined_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_group_id FOREIGN KEY (group_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id)
);

-- Indexes for performance
CREATE INDEX idx_users_registration_channel ON users(registration_channel);
CREATE INDEX idx_orders_created_at ON orders(created_at);
CREATE INDEX idx_orders_user_id ON orders(user_id);
CREATE INDEX idx_order_items_product_id ON order_items(product_id);
CREATE INDEX idx_groups_created_by ON groups(created_by);
"""

# Execute the SQL script
try:
    with psycopg2.connect(db_url) as conn:
        with conn.cursor() as cursor:
            cursor.execute(create_tables_sql)
            conn.commit()
            print("Tables created successfully!")
except Exception as e:
    print(f"Error creating tables: {e}")

Tables created successfully!

In [4]:
df = pd.read_sql("SELECT * FROM users LIMIT 100", engine)
df.head()

Empty DataFrame
Columns: [id, name, email, created_at, registration_channel, channel_value, customer_segment, user_status, last_login]
Index: []

In [8]:
df = pd.read_sql("SELECT * FROM order_items LIMIT 100", engine)
df.head()

   id  order_id  product_id  quantity                 created_at
0   1         1           7         2 2025-05-29 04:41:58.607883
1   2         1           9         1 2025-05-29 04:41:58.607883
2   3         1           9         1 2025-05-29 04:41:58.607883
3   4         2           8         3 2025-05-08 20:41:58.595642
4   5         2           2         4 2025-05-08 20:41:58.595642

In [7]:
df = pd.read_sql("SELECT * FROM orders LIMIT 100", engine)
df.head()

,id,user_id,group_leader_id,timestamp,order_total_value,is_first_order,created_at
0,1,115,38,2025-05-29 04:41:58.607883,10.2,True,2025-05-29 04:41:58.607883
1,2,56,15,2025-05-08 20:41:58.595642,5.9,True,2025-05-08 20:41:58.595642
2,3,182,3,2025-05-28 09:41:58.620738,6.0,True,2025-05-28 09:41:58.620738
3,4,101,5,2025-06-13 17:41:58.605073,5.0,True,2025-06-13 17:41:58.605073
4,5,52,39,2025-04-04 09:41:58.594880,1.3,True,2025-04-04 09:41:58.594880

In [9]:
df = pd.read_sql("SELECT * FROM products LIMIT 100", engine)
df.head()

   id    name   category  price  is_fresh_produce                 created_at
0   1  Carrot  vegetable    1.2              True 2025-05-21 22:41:58.623197
1   2   Apple      fruit    0.8              True 2025-05-21 22:41:58.623200
2   3  Banana      fruit    0.6              True 2025-05-21 22:41:58.623201
3   4    Rice      grain    2.2             False 2025-05-21 22:41:58.623202
4   5  Tomato  vegetable    1.0              True 2025-05-21 22:41:58.623203

In [10]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Drop and recreate tables
recreate_tables_sql = """
-- Drop tables
DROP TABLE IF EXISTS group_members, order_items, orders, groups, group_deals, campaigns, products, categories, users CASCADE;

-- Recreate tables
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

CREATE TABLE users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    registration_channel VARCHAR NOT NULL,
    channel_value TEXT,
    customer_segment VARCHAR,
    user_status VARCHAR NOT NULL CHECK (user_status IN ('active', 'inactive', 'suspended')),
    last_login TIMESTAMP
);

CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive')),
    parent_id UUID,
    CONSTRAINT fk_parent_id FOREIGN KEY (parent_id) REFERENCES categories(id)
);

CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name_id UUID,
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'discontinued')),
    unit_price NUMERIC NOT NULL CHECK (unit_price >= 0),
    CONSTRAINT fk_name_id FOREIGN KEY (name_id) REFERENCES categories(id)
);

CREATE TABLE group_deals (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID,
    max_group_member INTEGER NOT NULL CHECK (max_group_member > 0),
    group_price NUMERIC NOT NULL CHECK (group_price >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    effective_from TIMESTAMP NOT NULL,
    effective_to TIMESTAMP,
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE groups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_deals_id UUID,
    created_by UUID,
    status VARCHAR NOT NULL CHECK (status IN ('open', 'completed', 'cancelled')),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    completed_at TIMESTAMP,
    CONSTRAINT fk_group_deals_id FOREIGN KEY (group_deals_id) REFERENCES group_deals(id),
    CONSTRAINT fk_created_by FOREIGN KEY (created_by) REFERENCES users(id)
);

CREATE TABLE campaigns (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    channel VARCHAR NOT NULL,
    start_date TIMESTAMP NOT NULL,
    end_date TIMESTAMP,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'completed'))
);

CREATE TABLE orders (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    groups_carts_id UUID,
    user_id UUID,
    status VARCHAR NOT NULL CHECK (status IN ('pending', 'completed', 'cancelled')),
    total_amount NUMERIC NOT NULL CHECK (total_amount >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    campaign_id UUID,
    CONSTRAINT fk_groups_carts_id FOREIGN KEY (groups_carts_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id),
    CONSTRAINT fk_campaign_id FOREIGN KEY (campaign_id) REFERENCES campaigns(id)
);

CREATE TABLE order_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID,
    product_id UUID,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    price NUMERIC NOT NULL CHECK (price >= 0),
    CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES orders(id),
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE group_members (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_id UUID,
    user_id UUID,
    joined_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_group_id FOREIGN KEY (group_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id)
);

CREATE INDEX idx_users_registration_channel ON users(registration_channel);
CREATE INDEX idx_orders_created_at ON orders(created_at);
CREATE INDEX idx_orders_user_id ON orders(user_id);
CREATE INDEX idx_order_items_product_id ON order_items(product_id);
CREATE INDEX idx_groups_created_by ON groups(created_by);
"""

# Execute
try:
    with psycopg2.connect(db_url) as conn:
        with conn.cursor() as cursor:
            cursor.execute(recreate_tables_sql)
            conn.commit()
            print("Tables dropped and recreated successfully!")
except Exception as e:
    print(f"Error recreating tables: {e}")

Tables dropped and recreated successfully!

In [11]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Generate unique suffix for emails
timestamp_suffix = datetime.now().strftime("%Y%m%d%H%M%S")  # e.g., 20250523123456

# INSERT script
insert_data_sql = f"""
-- Insert Categories (10 categories)
INSERT INTO categories (id, name, status, parent_id) VALUES
    (uuid_generate_v4(), 'Fresh Produce', 'active', NULL),
    (uuid_generate_v4(), 'Dairy', 'active', NULL),
    (uuid_generate_v4(), 'Bakery', 'active', NULL),
    (uuid_generate_v4(), 'Meat', 'active', NULL),
    (uuid_generate_v4(), 'Beverages', 'active', NULL),
    (uuid_generate_v4(), 'Vegetables', 'active', (SELECT id FROM categories WHERE name = 'Fresh Produce')),
    (uuid_generate_v4(), 'Fruits', 'active', (SELECT id FROM categories WHERE name = 'Fresh Produce')),
    (uuid_generate_v4(), 'Milk Products', 'active', (SELECT id FROM categories WHERE name = 'Dairy')),
    (uuid_generate_v4(), 'Bread', 'active', (SELECT id FROM categories WHERE name = 'Bakery')),
    (uuid_generate_v4(), 'Soft Drinks', 'active', (SELECT id FROM categories WHERE name = 'Beverages'));

-- Insert Users (500 users with unique emails)
INSERT INTO users (id, name, email, created_at, registration_channel, channel_value, customer_segment, user_status, last_login)
SELECT
    uuid_generate_v4(),
    'User_' || generate_series(1, 500),
    'user' || generate_series(1, 500) || '_{timestamp_suffix}' || '@example.com',
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    CASE
        WHEN random() < 0.3 THEN 'organic'
        WHEN random() < 0.6 THEN 'referral'
        WHEN random() < 0.8 THEN 'paid ad'
        ELSE 'influencer'
    END,
    CASE
        WHEN random() < 0.5 THEN NULL
        ELSE 'campaign_' || floor(random() * 100)::TEXT
    END,
    CASE
        WHEN random() < 0.4 THEN 'Working Professionals'
        WHEN random() < 0.7 THEN 'Students'
        WHEN random() < 0.9 THEN 'Parents'
        ELSE 'Retirees'
    END,
    CASE
        WHEN random() < 0.9 THEN 'active'
        ELSE 'inactive'
    END,
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days')
FROM generate_series(1, 500);

-- Insert Products (100 products)
INSERT INTO products (id, name_id, name, status, unit_price)
SELECT
    uuid_generate_v4(),
    c.id,
    'Product_' || generate_series(1, 100) || ' (' || c.name || ')',
    CASE
        WHEN random() < 0.95 THEN 'active'
        ELSE 'discontinued'
    END,
    (random() * 49 + 1)::NUMERIC(10,2)
FROM generate_series(1, 100)
CROSS JOIN (SELECT id, name FROM categories ORDER BY random() LIMIT 1) c;

-- Insert Campaigns (20 campaigns)
INSERT INTO campaigns (id, name, channel, start_date, end_date, status)
SELECT
    uuid_generate_v4(),
    'Campaign_' || generate_series(1, 20),
    CASE
        WHEN random() < 0.3 THEN 'influencer'
        WHEN random() < 0.6 THEN 'facebook'
        WHEN random() < 0.8 THEN 'email'
        ELSE 'google'
    END,
    '2024-05-23'::TIMESTAMP + (random() * interval '300 days'),
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    CASE
        WHEN random() < 0.7 THEN 'active'
        WHEN random() < 0.9 THEN 'completed'
        ELSE 'inactive'
    END
FROM generate_series(1, 20);

-- Insert Group Deals (200 deals)
INSERT INTO group_deals (id, product_id, max_group_member, group_price, created_at, effective_from, effective_to)
SELECT
    uuid_generate_v4(),
    p.id,
    (random() * 9 + 2)::INTEGER,
    (p.unit_price * (0.7 + random() * 0.2))::NUMERIC(10,2),
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days') + interval '30 days'
FROM products p
LIMIT 200;

-- Insert Groups (1000 groups)
INSERT INTO groups (id, group_deals_id, created_by, status, created_at, completed_at)
SELECT
    uuid_generate_v4(),
    gd.id,
    u.id,
    CASE
        WHEN random() < 0.6 THEN 'completed'
        WHEN random() < 0.9 THEN 'open'
        ELSE 'cancelled'
    END,
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    CASE
        WHEN random() < 0.6 THEN '2024-05-23'::TIMESTAMP + (random() * interval '365 days') + interval '1 day'
        ELSE NULL
    END
FROM group_deals gd
CROSS JOIN (SELECT id FROM users WHERE user_status = 'active' ORDER BY random() LIMIT 50) u
LIMIT 1000;

-- Insert Orders (5000 orders)
INSERT INTO orders (id, groups_carts_id, user_id, status, total_amount, created_at, campaign_id)
SELECT
    uuid_generate_v4(),
    CASE
        WHEN random() < 0.7 THEN g.id
        ELSE NULL
    END,
    u.id,
    CASE
        WHEN random() < 0.8 THEN 'completed'
        WHEN random() < 0.95 THEN 'pending'
        ELSE 'cancelled'
    END,
    (random() * 200 + 10)::NUMERIC(10,2),
    '2024-05-23'::TIMESTAMP + (random() * interval '365 days'),
    CASE
        WHEN random() < 0.5 THEN c.id
        ELSE NULL
    END
FROM users u
LEFT JOIN (SELECT id FROM groups WHERE status = 'completed' ORDER BY random() LIMIT 1000) g ON true
LEFT JOIN (SELECT id FROM campaigns WHERE status IN ('active', 'completed') ORDER BY random() LIMIT 20) c ON true
LIMIT 5000;

-- Insert Order Items (15,000 items)
INSERT INTO order_items (id, order_id, product_id, quantity, price)
SELECT
    uuid_generate_v4(),
    o.id,
    p.id,
    (random() * 9 + 1)::INTEGER,
    (p.unit_price * (0.8 + random() * 0.2))::NUMERIC(10,2)
FROM orders o
CROSS JOIN (SELECT id, unit_price FROM products ORDER BY random() LIMIT 3) p
LIMIT 15000;

-- Insert Group Members (3000 memberships)
INSERT INTO group_members (id, group_id, user_id, joined_at)
SELECT
    uuid_generate_v4(),
    g.id,
    u.id,
    g.created_at + (random() * interval '12 hours')
FROM groups g
CROSS JOIN (SELECT id FROM users WHERE user_status = 'active' ORDER BY random() LIMIT 10) u
LIMIT 3000;
"""

# Execute
try:
    with psycopg2.connect(db_url) as conn:
        with conn.cursor() as cursor:
            cursor.execute(insert_data_sql)
            conn.commit()
            print("Data inserted successfully!")
except Exception as e:
    print(f"Error inserting data: {e}")

# Verify data counts
counts_query = """
SELECT
    (SELECT COUNT(*) FROM users) as users_count,
    (SELECT COUNT(*) FROM categories) as categories_count,
    (SELECT COUNT(*) FROM products) as products_count,
    (SELECT COUNT(*) FROM group_deals) as group_deals_count,
    (SELECT COUNT(*) FROM groups) as groups_count,
    (SELECT COUNT(*) FROM campaigns) as campaigns_count,
    (SELECT COUNT(*) FROM orders) as orders_count,
    (SELECT COUNT(*) FROM order_items) as order_items_count,
    (SELECT COUNT(*) FROM group_members) as group_members_count;
"""
df_counts = pd.read_sql(counts_query, engine)
print(df_counts)

Error inserting data: duplicate key value violates unique constraint "users_email_key"
DETAIL:  Key (email)=(user1_20250523204006@example.com) already exists.

   users_count  categories_count  products_count  group_deals_count  \
0            0                 0               0                  0

   groups_count  campaigns_count  orders_count  order_items_count  \
0             0                0             0                  0

   group_members_count
0                    0

In [12]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Check users table contents
try:
    with psycopg2.connect(db_url) as conn:
        with conn.cursor() as cursor:
            cursor.execute("SELECT email FROM users LIMIT 5;")
            rows = cursor.fetchall()
            print("Users table contents (raw):\n", rows)
except Exception as e:
    print(f"Error querying users: {e}")

# Check with pandas
query = "SELECT email, COUNT(*) as count FROM users GROUP BY email ORDER BY count DESC LIMIT 10;"
df_users = pd.read_sql(query, engine)
print("Users table contents (pandas):\n", df_users)

# Check schema
schema_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"
df_tables = pd.read_sql(schema_query, engine)
print("Tables in database:\n", df_tables)

Users table contents (raw):
 []
Users table contents (pandas):
 Empty DataFrame
Columns: [email, count]
Index: []
Tables in database:
       table_name
0         groups
1          users
2         orders
3      campaigns
4    order_items
5  group_members
6     categories
7       products
8    group_deals

In [17]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Truncate and recreate tables
reset_sql = """
-- Truncate tables
TRUNCATE TABLE group_members, order_items, orders, groups, group_deals, campaigns, products, categories, users RESTART IDENTITY CASCADE;

-- Drop tables
DROP TABLE IF EXISTS group_members, order_items, orders, groups, group_deals, campaigns, products, categories, users CASCADE;

-- Recreate tables
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

CREATE TABLE users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    registration_channel VARCHAR NOT NULL,
    channel_value TEXT,
    customer_segment VARCHAR,
    user_status VARCHAR NOT NULL CHECK (user_status IN ('active', 'inactive', 'suspended')),
    last_login TIMESTAMP
);

CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive')),
    parent_id UUID,
    CONSTRAINT fk_parent_id FOREIGN KEY (parent_id) REFERENCES categories(id)
);

CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name_id UUID,
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'discontinued')),
    unit_price NUMERIC NOT NULL CHECK (unit_price >= 0),
    CONSTRAINT fk_name_id FOREIGN KEY (name_id) REFERENCES categories(id)
);

CREATE TABLE group_deals (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID,
    max_group_member INTEGER NOT NULL CHECK (max_group_member > 0),
    group_price NUMERIC NOT NULL CHECK (group_price >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    effective_from TIMESTAMP NOT NULL,
    effective_to TIMESTAMP,
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE groups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_deals_id UUID,
    created_by UUID,
    status VARCHAR NOT NULL CHECK (status IN ('open', 'completed', 'cancelled')),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    completed_at TIMESTAMP,
    CONSTRAINT fk_group_deals_id FOREIGN KEY (group_deals_id) REFERENCES group_deals(id),
    CONSTRAINT fk_created_by FOREIGN KEY (created_by) REFERENCES users(id)
);

CREATE TABLE campaigns (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    channel VARCHAR NOT NULL,
    start_date TIMESTAMP NOT NULL,
    end_date TIMESTAMP,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'completed'))
);

CREATE TABLE orders (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    groups_carts_id UUID,
    user_id UUID,
    status VARCHAR NOT NULL CHECK (status IN ('pending', 'completed', 'cancelled')),
    total_amount NUMERIC NOT NULL CHECK (total_amount >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    campaign_id UUID,
    CONSTRAINT fk_groups_carts_id FOREIGN KEY (groups_carts_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id),
    CONSTRAINT fk_campaign_id FOREIGN KEY (campaign_id) REFERENCES campaigns(id)
);

CREATE TABLE order_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID,
    product_id UUID,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    price NUMERIC NOT NULL CHECK (price >= 0),
    CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES orders(id),
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE group_members (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_id UUID,
    user_id UUID,
    joined_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_group_id FOREIGN KEY (group_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id)
);

CREATE INDEX idx_users_registration_channel ON users(registration_channel);
CREATE INDEX idx_orders_created_at ON orders(created_at);
CREATE INDEX idx_orders_user_id ON orders(user_id);
CREATE INDEX idx_order_items_product_id ON order_items(product_id);
CREATE INDEX idx_groups_created_by ON groups(created_by);
"""

# Execute
try:
    with psycopg2.connect(db_url) as conn:
        with conn.cursor() as cursor:
            cursor.execute(reset_sql)
            conn.commit()
            print("Tables reset successfully!")
except Exception as e:
    print(f"Error resetting tables: {e}")

# Verify tables
schema_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"
df_tables = pd.read_sql(schema_query, engine)
print("Tables in database:\n", df_tables)

Tables reset successfully!
Tables in database:
       table_name
0     categories
1       products
2    group_deals
3         groups
4          users
5         orders
6      campaigns
7    order_items
8  group_members

In [23]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Terminate all connections
try:
    with psycopg2.connect(db_url) as conn:
        conn.autocommit = True
        with conn.cursor() as cursor:
            cursor.execute("""
                SELECT pg_terminate_backend(pg_stat_activity.pid)
                FROM pg_stat_activity
                WHERE pg_stat_activity.datname = 'railway'
                AND pid <> pg_backend_pid();
            """)
            print("All connections terminated!")
except Exception as e:
    print(f"Error terminating connections: {e}")

# Drop and rebuild users_email_key constraint
try:
    with psycopg2.connect(db_url) as conn:
        conn.autocommit = True
        with conn.cursor() as cursor:
            cursor.execute("ALTER TABLE users DROP CONSTRAINT IF EXISTS users_email_key;")
            cursor.execute("ALTER TABLE users ADD CONSTRAINT users_email_key UNIQUE (email);")
            print("Users email constraint rebuilt!")
except Exception as e:
    print(f"Error rebuilding constraint: {e}")

# Truncate and recreate tables
reset_sql = """
-- Truncate tables
TRUNCATE TABLE group_members, order_items, orders, groups, group_deals, campaigns, products, categories, users RESTART IDENTITY CASCADE;

-- Drop tables
DROP TABLE IF EXISTS group_members, order_items, orders, groups, group_deals, campaigns, products, categories, users CASCADE;

-- Recreate tables
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

CREATE TABLE users (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    registration_channel VARCHAR NOT NULL,
    channel_value TEXT,
    customer_segment VARCHAR,
    user_status VARCHAR NOT NULL CHECK (user_status IN ('active', 'inactive', 'suspended')),
    last_login TIMESTAMP
);

CREATE TABLE categories (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive')),
    parent_id UUID,
    CONSTRAINT fk_parent_id FOREIGN KEY (parent_id) REFERENCES categories(id)
);

CREATE TABLE products (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name_id UUID,
    name TEXT NOT NULL,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'discontinued')),
    unit_price NUMERIC NOT NULL CHECK (unit_price >= 0),
    CONSTRAINT fk_name_id FOREIGN KEY (name_id) REFERENCES categories(id)
);

CREATE TABLE group_deals (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    product_id UUID,
    max_group_member INTEGER NOT NULL CHECK (max_group_member > 0),
    group_price NUMERIC NOT NULL CHECK (group_price >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    effective_from TIMESTAMP NOT NULL,
    effective_to TIMESTAMP,
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE groups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_deals_id UUID,
    created_by UUID,
    status VARCHAR NOT NULL CHECK (status IN ('open', 'completed', 'cancelled')),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    completed_at TIMESTAMP,
    CONSTRAINT fk_group_deals_id FOREIGN KEY (group_deals_id) REFERENCES group_deals(id),
    CONSTRAINT fk_created_by FOREIGN KEY (created_by) REFERENCES users(id)
);

CREATE TABLE campaigns (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    channel VARCHAR NOT NULL,
    start_date TIMESTAMP NOT NULL,
    end_date TIMESTAMP,
    status VARCHAR NOT NULL CHECK (status IN ('active', 'inactive', 'completed'))
);

CREATE TABLE orders (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    groups_carts_id UUID,
    user_id UUID,
    status VARCHAR NOT NULL CHECK (status IN ('pending', 'completed', 'cancelled')),
    total_amount NUMERIC NOT NULL CHECK (total_amount >= 0),
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    campaign_id UUID,
    CONSTRAINT fk_groups_carts_id FOREIGN KEY (groups_carts_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id),
    CONSTRAINT fk_campaign_id FOREIGN KEY (campaign_id) REFERENCES campaigns(id)
);

CREATE TABLE order_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    order_id UUID,
    product_id UUID,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    price NUMERIC NOT NULL CHECK (price >= 0),
    CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES orders(id),
    CONSTRAINT fk_product_id FOREIGN KEY (product_id) REFERENCES products(id)
);

CREATE TABLE group_members (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    group_id UUID,
    user_id UUID,
    joined_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_group_id FOREIGN KEY (group_id) REFERENCES groups(id),
    CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES users(id)
);

CREATE INDEX idx_users_registration_channel ON users(registration_channel);
CREATE INDEX idx_orders_created_at ON orders(created_at);
CREATE INDEX idx_orders_user_id ON orders(user_id);
CREATE INDEX idx_order_items_product_id ON order_items(product_id);
CREATE INDEX idx_groups_created_by ON groups(created_by);
"""

# Execute
try:
    with psycopg2.connect(db_url) as conn:
        conn.autocommit = True
        with conn.cursor() as cursor:
            cursor.execute(reset_sql)
            print("Tables reset successfully!")
except Exception as e:
    print(f"Error resetting tables: {e}")

# Verify tables and constraints
schema_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"
df_tables = pd.read_sql(schema_query, engine)
print("Tables in database:\n", df_tables)

constraint_query = "SELECT constraint_name FROM information_schema.table_constraints WHERE table_name = 'users' AND constraint_type = 'UNIQUE';"
df_constraints = pd.read_sql(constraint_query, engine)
print("Users table constraints:\n", df_constraints)

All connections terminated!
Users email constraint rebuilt!
Tables reset successfully!
Tables in database:
       table_name
0    order_items
1  group_members
2     categories
3       products
4    group_deals
5         groups
6          users
7         orders
8      campaigns
Users table constraints:
    constraint_name
0  users_email_key

In [24]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

# Database connection
db_url = "postgresql://postgres:ZENStvKGjPthLKeuBBjsdwIsDnpDhZUm@maglev.proxy.rlwy.net:17086/railway"
engine = create_engine(db_url)

# Generate unique suffix for emails
timestamp_suffix = datetime.now().strftime("%Y%m%d%H%M%S")  # e.g., 20250523210500

# INSERT script
insert_data_sql = f"""
-- Insert Categories (10 categories)
INSERT INTO categories (id, name, status, parent_id) VALUES
    (uuid_generate_v4(), 'Fresh Produce', 'active', NULL),
    (uuid_generate_v4(), 'Dairy', 'active', NULL),
    (uuid_generate_v4(), 'Bakery', 'active', NULL),
    (uuid_generate_v4(), 'Meat', 'active', NULL),
    (uuid_generate_v4(), 'Beverages', 'active', NULL),
    (uuid_generate_v4(), 'Vegetables', 'active', (SELECT id FROM categories WHERE name = 'Fresh Produce')),
    (uuid_generate_v4(), 'Fruits', 'active', (SELECT id FROM categories WHERE name = 'Fresh Produce')),
    (uuid_generate_v4(), 'Milk Products', 'active', (SELECT id FROM categories WHERE name = 'Dairy')),
    (uuid_generate_v4(), 'Bread', 'active', (SELECT id FROM categories WHERE name = 'Bakery')),
    (uuid_generate_v4(), 'Soft Drinks', 'active', (SELECT id FROM categories WHERE name = 'Beverages'));

-- Insert Users (500 users with unique emails)
INSERT INTO users (id, name, email, created_at, registration_channel, channel_value, customer_segment, user_status, last_login)
SELECT
    uuid_generate_v4(),
    'User_' || generate_series(1, 500),
    'user' || generate_series(1, 500) || '_{timestamp_suffix}' || '@example.com',
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    CASE
        WHEN random() < 0.3 THEN 'organic'
        WHEN random() < 0.6 THEN 'referral'
        WHEN random() < 0.8 THEN 'paid ad'
        ELSE 'influencer'
    END,
    CASE
        WHEN random() < 0.5 THEN NULL
        ELSE 'campaign_' || floor(random() * 100)::TEXT
    END,
    CASE
        WHEN random() < 0.4 THEN 'Working Professionals'
        WHEN random() < 0.7 THEN 'Students'
        WHEN random() < 0.9 THEN 'Parents'
        ELSE 'Retirees'
    END,
    CASE
        WHEN random() < 0.9 THEN 'active'
        ELSE 'inactive'
    END,
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days')
FROM generate_series(1, 500);

-- Insert Products (100 products)
INSERT INTO products (id, name_id, name, status, unit_price)
SELECT
    uuid_generate_v4(),
    c.id,
    'Product_' || generate_series(1, 100) || ' (' || c.name || ')',
    CASE
        WHEN random() < 0.95 THEN 'active'
        ELSE 'discontinued'
    END,
    (random() * 49 + 1)::NUMERIC(10,2)
FROM generate_series(1, 100)
CROSS JOIN (SELECT id, name FROM categories ORDER BY random() LIMIT 1) c;

-- Insert Campaigns (20 campaigns)
INSERT INTO campaigns (id, name, channel, start_date, end_date, status)
SELECT
    uuid_generate_v4(),
    'Campaign_' || generate_series(1, 20),
    CASE
        WHEN random() < 0.3 THEN 'influencer'
        WHEN random() < 0.6 THEN 'facebook'
        WHEN random() < 0.8 THEN 'email'
        ELSE 'google'
    END,
    '2024-05-24'::TIMESTAMP + (random() * interval '300 days'),
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    CASE
        WHEN random() < 0.7 THEN 'active'
        WHEN random() < 0.9 THEN 'completed'
        ELSE 'inactive'
    END
FROM generate_series(1, 20);

-- Insert Group Deals (200 deals)
INSERT INTO group_deals (id, product_id, max_group_member, group_price, created_at, effective_from, effective_to)
SELECT
    uuid_generate_v4(),
    p.id,
    (random() * 9 + 2)::INTEGER,
    (p.unit_price * (0.7 + random() * 0.2))::NUMERIC(10,2),
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days') + interval '30 days'
FROM products p
LIMIT 200;

-- Insert Groups (1000 groups)
INSERT INTO groups (id, group_deals_id, created_by, status, created_at, completed_at)
SELECT
    uuid_generate_v4(),
    gd.id,
    u.id,
    CASE
        WHEN random() < 0.6 THEN 'completed'
        WHEN random() < 0.9 THEN 'open'
        ELSE 'cancelled'
    END,
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    CASE
        WHEN random() < 0.6 THEN '2024-05-24'::TIMESTAMP + (random() * interval '364 days') + interval '1 day'
        ELSE NULL
    END
FROM group_deals gd
CROSS JOIN (SELECT id FROM users WHERE user_status = 'active' ORDER BY random() LIMIT 50) u
LIMIT 1000;

-- Insert Orders (5000 orders)
INSERT INTO orders (id, groups_carts_id, user_id, status, total_amount, created_at, campaign_id)
SELECT
    uuid_generate_v4(),
    CASE
        WHEN random() < 0.7 THEN g.id
        ELSE NULL
    END,
    u.id,
    CASE
        WHEN random() < 0.8 THEN 'completed'
        WHEN random() < 0.95 THEN 'pending'
        ELSE 'cancelled'
    END,
    (random() * 200 + 10)::NUMERIC(10,2),
    '2024-05-24'::TIMESTAMP + (random() * interval '364 days'),
    CASE
        WHEN random() < 0.5 THEN c.id
        ELSE NULL
    END
FROM users u
LEFT JOIN (SELECT id FROM groups WHERE status = 'completed' ORDER BY random() LIMIT 1000) g ON true
LEFT JOIN (SELECT id FROM campaigns WHERE status IN ('active', 'completed') ORDER BY random() LIMIT 20) c ON true
LIMIT 5000;

-- Insert Order Items (15,000 items)
INSERT INTO order_items (id, order_id, product_id, quantity, price)
SELECT
    uuid_generate_v4(),
    o.id,
    p.id,
    (random() * 9 + 1)::INTEGER,
    (p.unit_price * (0.8 + random() * 0.2))::NUMERIC(10,2)
FROM orders o
CROSS JOIN (SELECT id, unit_price FROM products ORDER BY random() LIMIT 3) p
LIMIT 15000;

-- Insert Group Members (3000 memberships)
INSERT INTO group_members (id, group_id, user_id, joined_at)
SELECT
    uuid_generate_v4(),
    g.id,
    u.id,
    g.created_at + (random() * interval '12 hours')
FROM groups g
CROSS JOIN (SELECT id FROM users WHERE user_status = 'active' ORDER BY random() LIMIT 10) u
LIMIT 3000;
"""

# Execute
try:
    with psycopg2.connect(db_url) as conn:
        conn.autocommit = True
        with conn.cursor() as cursor:
            cursor.execute(insert_data_sql)
            print("Data inserted successfully!")
except Exception as e:
    print(f"Error inserting data: {e}")

# Verify data counts
counts_query = """
SELECT
    (SELECT COUNT(*) FROM users) as users_count,
    (SELECT COUNT(*) FROM categories) as categories_count,
    (SELECT COUNT(*) FROM products) as products_count,
    (SELECT COUNT(*) FROM group_deals) as group_deals_count,
    (SELECT COUNT(*) FROM groups) as groups_count,
    (SELECT COUNT(*) FROM campaigns) as campaigns_count,
    (SELECT COUNT(*) FROM orders) as orders_count,
    (SELECT COUNT(*) FROM order_items) as order_items_count,
    (SELECT COUNT(*) FROM group_members) as group_members_count;
"""
df_counts = pd.read_sql(counts_query, engine)
print("Data Counts:\n", df_counts)

# Check users table
query = "SELECT email, COUNT(*) as count FROM users GROUP BY email ORDER BY count DESC LIMIT 10;"
df_users = pd.read_sql(query, engine)
print("Users Table Contents:\n", df_users)

Error inserting data: duplicate key value violates unique constraint "users_email_key"
DETAIL:  Key (email)=(user1_20250523210002@example.com) already exists.

Data Counts:
    users_count  categories_count  products_count  group_deals_count  \
0            0                 0               0                  0

   groups_count  campaigns_count  orders_count  order_items_count  \
0             0                0             0                  0

   group_members_count
0                    0
Users Table Contents:
 Empty DataFrame
Columns: [email, count]
Index: []